@import "./variable-overrides";
@import '~bulma/bulma';
@import "./style-overrides";


:root {

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --body-color: #{$body-color};
    --body-background-color: #{$body-background-color};
    --body-background-color-transparent: #{$body-background-color-transparent};

    --body-background-color-light: #{$body-background-color-light};
    --body-background-color-light-invert: #{$body-background-color-light-invert};

    --body-background-color-lighter: #{$body-background-color-lighter};


    --text-light: #{$text-light};
    --text-lighter: #{$text-lighter};

    --border-color: #{$border};

    --theme-primary-color: #{$primary};

    --navbar-height: #{$navbar-height};
    --navbar-big-height: #{$navbar-big-height};

    --site-header-height: #{$site-header-height};
    --site-header-big-height: #{$site-header-big-height};
    --site-header-small-height: #{$site-header-small-height};

    --navbar-shadow: #{$navbar-shadow};


    // RGB values

    --body-background-color-rgb: 245, 245, 245;
    --body-background-color-light-rgb: 235, 235, 235;
    --body-background-color-lighter-rgb: 200, 200, 200;


}

html[data-theme='dark'] {

    --body-color: #{$body-color-invert};

    --body-background-color: #{$body-background-color-light-invert};
    --body-background-color-transparent: #{$body-background-color-transparent-invert};


    --body-background-color-light: #{$body-background-color-light-invert};
    --body-background-color-light-invert: #{$body-background-color-light};

    --text-light: #{$text-light-invert};
    --text-lighter: #{$text-lighter-invert};

    --border-color: #{$border-invert};

    --navbar-shadow: #{$navbar-shadow-theme-dark};

    // RGB values
    
    --body-background-color-rgb: 25, 33, 44;
    --body-background-color-light-rgb: 18, 23, 31;
    --body-background-color-lighter-rgb: 9, 12, 16;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}

body {
    color: var(--body-color);
    font-size: 17px;
    z-index: 0;
    background-image: linear-gradient( to bottom,  rgb(var(--body-background-color-light-rgb)) 0%, rgb(var(--body-background-color-rgb)) 100%);
}

.main {
    z-index: 1;
    padding-top: 10rem;
}

a {
    color: inherit;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


// Typography

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h1.title {
    font-size: $size-1;
}

h2, h2.title {
    font-size: $size-2;
}

h3, h3.title {
    font-size: $size-3;
}

h4, h4.title {
    font-size: $size-4;
}

h5, h5.title {
    font-size: $size-5;
}

h6, h6.title {
    font-size: $size-6;
}

.page-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-header {
    position: absolute;
    top: 0px;   
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: var(--body-background-color-);
    padding-top: 5rem;
}


.site-logo {
    color: var(--body-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 0;

    &::before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--theme-primary-color);
        border-radius: 3px;
        margin-right: 15px;
    }
}

.main-navigation {
}

.main-menu {
    font-weight: 600;
    .navbar-dropdown {
        font-weight: 400;
    }
}


// Hero & Navbar

.hero-section {
    position: relative;

    .hero-section-body {
        z-index: 10;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        &-box {
            padding: 45px;

        }
    }
}

.hero-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--body-background-color-lighter);
    word-wrap: break-word;
    margin-bottom: 1rem;
    span {
        color: $primary;
    }
}

.hero-text {
    font-size: 1rem;
    font-weight: 400;
    opacity: 1;
    color: rgb(121, 130, 141);
    margin-bottom: 1rem;
}


.header-anchor-menu, 
.hero-section-anchor-menu {
    pointer-events: none;
    transition: pointer-events 0.1s;

    .navbar-item {
        position: relative;
        font-weight: 500;
    }

}

.header-anchor-menu:not([style*="opacity: 0"]), 
.hero-section-anchor-menu:not([style*="opacity: 0"]) {
    pointer-events: auto;
}

.hero-section-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
        width: 100%;
    }

    .divider:last-child {
        max-width: 4rem;
    }
}
// squares grid

.hero-section-grid {
    width: auto !important;
    height: 100% ;
}

.hero-squares {
    
    
    .square {
        position: relative;
        border-radius: 2px;

        &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            pointer-events: all;
        }
    }
}

.navbar-squares {
    overflow: hidden;

    position: absolute;
    top:15px;
    bottom: 60px;
    left: 15px;
    right: 15px;
    height: auto !important;
    width: auto !important;

    .square {
        z-index: -1;
        border-radius: 2px;

    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     width: 100% !important;
    //     height: 100% !important;
    //     background-image: linear-gradient(to bottom, rgb(var(--body-background-color-light-rgb), 0) 60%, rgb(var(--body-background-color-light-rgb)) 100%) !important;
    //     z-index: 1 !important;
    //     opacity: 1 !important;
    // }
}

.body-grid {
    position: absolute; /* This will make the div position relative to the nearest positioned ancestor (instead of relative to the viewport) */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    height: 100%; /* Make it fill the height of the body */
    width: 100%; /* Make it fill the width of the body */
    opacity: .5;
    padding: 3rem;

}

.body-squares {
    height: 100%;
    width: 100%;
   
}   

.bulma-loader-mixin {
    @include loader;
    border-left-color: var(--body-background-color);
    border-bottom-color: var(--body-background-color);
}


.divider {
    position: relative;
    margin: 5rem 0;
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-between;
    span {
        border-bottom: 1px solid rgba(168, 175, 183, .1);
        width: 100%;
        margin-bottom: 2px;
    }

    &::before {
        content: '';
        background-color: rgba(168, 175, 183, .15);
        height: 5px;
        width: 5px;
        flex: 0 0 5px;
        border-radius: 1px;
        margin-left: -3px;
    }

    &::after {
        content: '';
        background-color: rgba(168, 175, 183, .15);
        height: 5px;
        width: 5px;
        flex: 0 0 5px;
        border-radius: 1px;
        margin-right: -3px;

    }
}

.divider.slim {
    margin: 25px 0;
}

.bg-diagonal-line {
    background: linear-gradient(to top right, transparent calc(50% - 1px), rgba(168, 175, 183, .05), transparent calc(50% + 1px));
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    display: flex;

}

.bg-diagonal-line.is-flipped {
    background: linear-gradient(to bottom right, transparent calc(50% - 1px), rgba(168, 175, 183, .05), transparent calc(50% + 1px));
}

// line box

.line-box {
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
    &-body{
        padding: 5rem;
        height: 100%;
    }


    &-corner-dots {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


        span {
            position: absolute;
            background-color: rgb(69, 78, 92);
            height: 5px;
            width: 5px;

            &:nth-child(1) {
                top: -2px;
                left: -2px;
            }

            &:nth-child(2) {
                top: -2px;
                right: -2px;
            }
            
            &:nth-child(3) {
                bottom:-2px;
                left: -2px;
            }
            
            &:nth-child(4) {
                bottom: -2px;
                right: -2px;
            }
              
        }
    }
}


.line-box-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 100px); 
    grid-gap: 0px;
    padding-left: 1px;
}

.span-6-3 {
    grid-column: span 6;
    grid-row: span 3;
}

.span-6-4 {
    grid-column: span 6;
    grid-row: span 4;
}

.span-6-5 {
    grid-column: span 6;
    grid-row: span 5;
}

.span-6-6 {
    grid-column: span 6;
    grid-row: span 6;
}

.span-12-6 {
    grid-column: span 12;
    grid-row: span 6;
}

.span-12-5 {
    grid-column: span 12;
    grid-row: span 5;
}

.span-12-4 {
    grid-column: span 12;
    grid-row: span 4;
}

.span-12-3 {
    grid-column: span 12;
    grid-row: span 3;
}

.span-12-2 {
    grid-column: span 12;
    grid-row: span 2;
}

.span-12-1 {
    grid-column: span 12;
    grid-row: span 1;
}