@import "./variable-overrides";
@import '~bulma/bulma';
@import "./style-overrides";


:root {

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 30, 30, 30;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

}

html[data-theme='dark'] {
    
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 25, 25, 25;
        --background-end-rgb: 25, 25, 25;
    
       
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom, 
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
    );
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    color: inherit;
}

.subtitle {
    color: inherit;
}
