@import "./variable-overrides";
@import '~bulma/bulma';
@import "./style-overrides";


:root {

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --body-color: #{$body-color};
    --body-background-color: #{$body-background-color};
    --body-background-color-transparent: #{$body-background-color-transparent};

    --body-background-color-light: #{$body-background-color-light};
    --body-background-color-light-invert: #{$body-background-color-light-invert};

    --body-background-color-lighter: #{$body-background-color-lighter};


    --text-light: #{$text-light};
    --text-lighter: #{$text-lighter};

    --border-color: #{$border};

    --theme-primary-color: #{$primary};

    --navbar-height: #{$navbar-height};
    --navbar-big-height: #{$navbar-big-height};

    --site-header-height: #{$site-header-height};
    --site-header-big-height: #{$site-header-big-height};
    --site-header-small-height: #{$site-header-small-height};

    --navbar-shadow: #{$navbar-shadow};


    // RGB values

    --body-background-color-rgb: 245, 245, 245;
    --body-background-color-light-rgb: 235, 235, 235;
    --body-background-color-lighter-rgb: 200, 200, 200;


}

html[data-theme='dark'] {

    --body-color: #{$body-color-invert};

    --body-background-color: #{$body-background-color-light-invert};
    --body-background-color-transparent: #{$body-background-color-transparent-invert};


    --body-background-color-light: #{$body-background-color-light-invert};
    --body-background-color-light-invert: #{$body-background-color-light};

    --text-light: #{$text-light-invert};
    --text-lighter: #{$text-lighter-invert};

    --border-color: #{$border-invert};

    --navbar-shadow: #{$navbar-shadow-theme-dark};

    // RGB values
    
    --body-background-color-rgb: 25, 33, 44;
    --body-background-color-light-rgb: 18, 23, 31;
    --body-background-color-lighter-rgb: 9, 12, 16;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    letter-spacing: -.001em;
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}

body {
    color: var(--body-color);
    background: var(--body-background-color);
    font-size: 17px;
    z-index: 0;
}

.main {
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


// Typography

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h1.title {
    font-size: $size-1;
}

h2, h2.title {
    font-size: $size-2;
}

h3, h3.title {
    font-size: $size-3;
}

h4, h4.title {
    font-size: $size-4;
}

h5, h5.title {
    font-size: $size-5;
}

h6, h6.title {
    font-size: $size-6;
}

.page-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.site-header .hero {
    height: var(--site-header-height);
}

.site-header.is-big .hero {
    height: var(--site-header-big-height);
}

.site-header.is-small .hero {
    height: var(--site-header-small-height);
}

.site-header + .main {
    padding-top: var(--site-header-height);
}

.site-header.is-big + .main {
    padding-top: var(--site-header-big-height);
}

.site-header.is-small + .main {
    padding-top: var(--site-header-small-height);
}

.site-logo {
    color: var(--body-background-color);
    margin-left: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2.25rem;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 0;

    &::before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-color: var(--theme-primary-color);
        border-radius: 3px;
        margin-right: 15px;
    }
}


.main-menu {
    font-weight: 600;
    .navbar-dropdown {
        font-weight: 400;
    }
}


// Hero & Navbar

.hero {
    position: relative;
    // background-image: linear-gradient(to bottom right, rgb(var(--body-background-color-light-rgb)) 0%, rgb(var(--body-background-color-rgb)) 80%);

    .hero-head {
        height: var(--navbar-big-height);
        position: relative;
    }

    .hero-body {
        z-index: 10;
        pointer-events: none;
        display: flex;
        align-items: flex-end;
        justify-content:flex-end;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
        // grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
        padding: 0;
        text-align: right;

        &-box {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            pointer-events: all;
            position: relative;
            max-width: 700px;
            //background-color: var(--body-background-color-light);
            // grid-column: -60 / end; // Start from the end and span 50 columns towards the start
            // grid-row: span 10; 
            padding: 2rem 6rem 2rem;
            // &::after {
            //     content: '';
            //     position: absolute;
            //     left:  -50px;
            //     bottom: 0px;
            //     z-index: -1 !important;
            //     opacity: 1 !important;
            //     width: 100px; 
            //     height: 100px;
            //     clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
            //     background-color: var(--body-background-color-light);
            // }
     
        }
    }

    .hero-foot {
        position: relative;
        z-index: 10;
        border-bottom: 1px solid var(--border-color);
        padding: .5rem 0;
    }
}


.hero-head-anchor-menu, 
.hero-foot-anchor-menu {
    pointer-events: none;
    transition: pointer-events 0.1s;

    .navbar-item {
        position: relative;
        font-weight: 500;
    }

}

.hero-head-anchor-menu:not([style*="opacity: 0"]), 
.hero-foot-anchor-menu:not([style*="opacity: 0"]) {
    pointer-events: auto;
}


.hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--body-background-color-lighter);
    line-height: 1.1;
    word-wrap: break-word;
    display: inline;
    span {
        color: $primary;
    }
}


.hero-body {
    position: absolute;
    top:  80px;
    left: 0;
    bottom: 80px;
    right: 0;
    max-width: 100%;
}


.hero-grid {
    opacity: .75;
    position: absolute;
    top:  100px;
    left: 3rem;
    right: 3rem;
    bottom: 80px;
}

// squares grid

.hero-squares {
    
    
    .square {
        position: relative;
        border-radius: 3px;

        &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            pointer-events: all;
        }
    }
}

.navbar-squares {
    overflow: hidden;

    position: absolute;
    top:15px;
    bottom: 60px;
    left: 15px;
    right: 15px;
    height: auto !important;
    width: auto !important;

    .square {
        z-index: -1;
        border-radius: 2px;

    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     width: 100% !important;
    //     height: 100% !important;
    //     background-image: linear-gradient(to bottom, rgb(var(--body-background-color-light-rgb), 0) 60%, rgb(var(--body-background-color-light-rgb)) 100%) !important;
    //     z-index: 1 !important;
    //     opacity: 1 !important;
    // }
}

.body-grid {
    position: absolute; /* This will make the div position relative to the nearest positioned ancestor (instead of relative to the viewport) */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    height: 100%; /* Make it fill the height of the body */
    width: 100%; /* Make it fill the width of the body */
    opacity: .5;
    padding: 3rem;

}

.body-squares {
    height: 100%;
    width: 100%;
   
}   

.bulma-loader-mixin {
    @include loader;
    border-left-color: var(--body-background-color);
    border-bottom-color: var(--body-background-color);
}

