@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Override Bulma variables here

$block-spacing: 2rem;
$column-gap: 3rem;

// Breakpoints

$desktop: 1024px;
$widescreen: 1264px;
$fullhd: 1264px;

// Typography

$size-1: 2.25rem;
$size-2: 2rem;  
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem; 
$size-7: 14px;

$body-line-height: 1.5;
$title-line-height: 1.35;
$subtitle-line-height: $body-line-height;

// Bulma main Colors Override converted to rgb

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light: rgb(245, 245, 245);
$dark: rgb(31, 41, 55);
$primary: #ff4f5e;
$link: $primary;
$info: rgb(0, 0, 255);
$success: rgb(0, 255, 0);
$warning: rgb(255, 255, 0);
$danger: rgb(255, 0, 0);

$theme-lightest: rgb(176, 190, 208);
$theme-dark: rgb(25, 33, 44);
$theme-darker: rgb(18, 23, 31);
$theme-darkest: rgb(10, 13, 18);

$scheme-main: $white;
$scheme-invert: $theme-dark;

$border: rgba($scheme-invert, 0.1);
$border-invert: rgba($scheme-main, 0.1);

$text: $grey-dark;
$text-invert: $grey-lighter;

$text-light: $grey; 
$text-light-invert: $grey-lighter; 

$text-lighter: $grey-light;
$text-lighter-invert: $grey-light;

$body-color: $text;
$body-color-invert: $text-invert;

$body-background-color: $scheme-main;
$body-background-color-invert: $scheme-invert;

$body-background-color-transparent: rgba($scheme-main, 0);
$body-background-color-transparent-invert: rgba($scheme-invert, 0);


$body-background-color-light:  $white-ter;
$body-background-color-light-invert: $theme-darker;

$body-background-color-lighter:  $grey-lighter;
$body-background-color-lighter-invert:  $theme-darkest;



// Custom Variables



$navbar-height: 3.75rem;
$navbar-big-height: 5rem;

$site-header-height: 31.25rem;
$site-header-big-height: 50rem;
$site-header-small-height: 18.75rem;

$navbar-shadow: 1px 1px 12px rgba(0,0,0,.1);
$navbar-shadow-theme-dark: 1px 1px 12px rgba(0,0,0,.35);