@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// Override Bulma variables here
$title-line-height: 1.15;
$subtitle-line-height: 1.3;

$size-1: 3.75rem;
$size-2: 3.25rem;  // Modify these values to suit your design
$size-3: 2.75rem;
$size-4: 2.25rem;
$size-5: 1.75rem;
$size-6: 1.25rem; // Keeps Bulma's original h6 size


// Bulma main Colors Override converted to rgb

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light: rgb(245, 245, 245);
$dark: rgb(21, 21, 21);
$primary: rgb(0, 0, 255);
$link: $primary;
$info: rgb(0, 0, 255);
$success: rgb(0, 255, 0);
$warning: rgb(255, 255, 0);
$danger: rgb(255, 0, 0);


$grey-darker: rgb(75, 75, 75);
$grey-dark: rgb(102, 102, 102);
$grey: rgb(128, 128, 128);
$grey-light: rgb(153, 153, 153);
$grey-lighter: rgb(191, 191, 191);
$grey-lightest: rgb(230, 230, 230);


$test: 0, 0, 230;











