@import "../styles/variable-overrides";
@import "../styles/style-overrides";


.container {
    perspective: 1200px;
    width: 110%;
}




.imageWrapper {
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
    opacity: 1;
    background-color: #fff;
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.03);

    .image {
        object-fit: cover;
        object-position:center
    }
}

.ratio {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 61.2%; /* 1000x612px aspect ratio */
    }

    &Inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.box {
    position: absolute;
    width: 80%;
    opacity: 1; // Adjust as needed
    transform-origin: center;
    bottom: 30px; // Offset vertically by 50px
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform-style: preserve-3d;
    border-radius: 10px;
    padding: 3rem;

    background-color: #fff;
    color: $dark;


    &Left {
        right: -25px; // Offset horizontally by 50px for left side
        box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.05);
    }
    
    &Right {
        left: -25px; // Offset horizontally by 50px for right side
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
    }
   
}





.arrowWrapper {
    position: absolute;
    top:0;
    left:0;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

.boxArrow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;

    &Icon {
        width: 300px;
        height: 300px;
        fill: #fff;
        color: #fff;
    }
}


.slideAuthor {
    font-size: .8rem;
    font-weight: 300;
    margin-top: 1rem;
}

.imageShadow {
    position: absolute;
    bottom: -15px;
    right: -30px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--body-background-color-light);
    z-index: -2;

    &Reversed {
        left: -30px;
    }
   
}