@import "../styles/variable-overrides";
@import "../styles/style-overrides";



.square-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    .square {
        border-radius: 1px;
    }

}

